<!DOCTYPE html>
<html lang="fr">

<head>
  <base href="{{base_url}}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>wetransfer Groupe 2</title>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet">
</head>

<body id="resultat" class="img-fluid">
  <div class="wrapper">
    <form id="contact" action="controller/ctrl_upload.php" method="post" enctype="multipart/form-data">
      <h3 class="transfert">Transfert réussi !</h3>
      <fieldset>
        <h7 class="result">Nom de votre fichier: </h7>
        </fieldset>
       <fieldset>
       <h8> {{nom}}</h8>
      </fieldset>
      <fieldset>
        <h7 class="result">Taille de votre fichier :</h7>
      </fieldset>
      <fieldset>
      {% if taille < 1000 %}
        <h8>{{taille | number_format(2)}} Ko</h8>
        {% else %}
        <h8>{{(taille / 1000) | number_format(2)}} Mo</h8> 
      {% endif %}
      </fieldset>
      <fieldset>
        <h7 class="result">Lien de votre fichier envoyé :</h7>
      </fieldset>
      <fieldset>
        <h8 class="link">{{lien}}</h8>
      </fieldset>
      <fieldset class="d-flex align-items-center flex-column">
        <h8 class="copied mb-0"></h8>
        <a class="buttonLink btn btn-danger mt-0">Copier le lien</a>
      </fieldset>
    </form>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>         
<script src="js/result.js"></script>
</body>
</html>